.bottom-nav {
  border: 1px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.game-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-conatainer-img {
  margin-top: 3%;
  border-radius: 5%;
  margin-left: 30px;
  margin-right: 30px;
  transition: 0.6s all ease;
}

.game-conatainer-img:hover {
  cursor: pointer;
  opacity: 0.7;
}
.game-conatainer-img:hover > .game-title,
.game-conatainer-img:hover > .game-year,
.game-conatainer-img:hover > .game-genre,
.game-conatainer-img:hover > .game-developer
{
  display: block;
}

.game-title {
  margin-top: 7%;
  margin-left: 20%;
  text-shadow:
        0.07em 0 white,
        0 0.07em white,
        -0.07em 0 white,
        0 -0.07em white;
  display: none;
}

.game-year {
  margin-top: 10%;
  margin-left: 30%;
  text-shadow:
        0.07em 0 white,
        0 0.07em white,
        -0.07em 0 white,
        0 -0.07em white;
  display: none;
}
.game-genre {
  margin-top: 10%;
  margin-left: 30%;
  text-shadow:
        0.07em 0 white,
        0 0.07em white,
        -0.07em 0 white,
        0 -0.07em white;
  display: none;
}
.game-developer {
  margin-top: 10%;
  margin-left: 30%;
  text-shadow:
        0.07em 0 white,
        0 0.07em white,
        -0.07em 0 white,
        0 -0.07em white;
  display: none;
}

.game-delete-btn {
  margin-left: 5%;
}

h1 {
  text-align: center;
}
